@charset "UTF-8";
/**
 * 定义渐变色值
 * @method gradient
 * @param {String} $type 指定渐变的4种类型：linear, repeating-linear, radial, repeating-radial
 * @param {String} $gradient 指定渐变取值，与w3c最新原生语法一致
 */
/**
 * 清除浮动方案
 * @method clearfix
 */
/**
 * 定义盒模型
 * @method box-sizing
 * @param {String} $box-sizing 的2个值分别为：content-box(标准盒模型) | border-box(怪异盒模型)
 */
/**
 * 定义圆角
 * @method border-radius
 * @param {String} $border-radius 取值与原生语法一致
 */
/**
 * 生成全屏方法
 * @method fullscreen
 * @param {Integer} $z-index 定义层叠级别
 */
/**
 * 生成全屏方法
 * @method fullscreen
 * @param {Integer} $z-index 定义层叠级别
 */
/**
 * 定义是否有滚动条
 * @method overflow
 * @param {String} $overflow 默认值：auto，取值与最新原生语法一致
 */
/**
 * 定义伸缩盒子元素如何分配空间
 * @method flex
 * @param {String} $flex 默认值：1，取值与最新原生语法一致
 * @param {String} $direction 默认值: row
 */
/**
 * 定义伸缩盒子元素的流动方向
 * @method flex-direction
 * @param {String} $flex-direction 默认值：row，取值与最新原生语法一致
 */
/**
 * 定义伸缩盒子元素的水平对齐方式
 * @method justify-content
 * @param {String} $justify-content 默认值：center，取值与最新原生语法一致
 */
/**
 * 定义伸缩盒子元素的垂直对齐方式
 * @method align-items
 * @param {String} $align-items 默认值：center，取值与最新原生语法一致
 */
/**
 * 定义伸缩盒子元素的排版顺序
 * @method order
 * @param {String} $order 默认值：1，取值与最新原生语法一致
 */
/**
 * 定义伸缩盒子元素自身的垂直对齐方式
 * @method align-self
 * @param {String} $align-self 默认值：center，取值与最新原生语法一致
 */
/**
 * 定义伸缩盒子元素溢出排版
 * @method flex-wrap
 * @param {String} $flex-wrap 默认值：nowrap，取值与最新原生语法一致
 */
dl, dd {
  margin: 0px; }

img {
  vertical-align: top;
  display: block; }

html, body {
  width: 100%;
  height: 100%; }

a {
  color: #333;
  text-decoration: none;
  font-size: 0.2px;
  outline: none; }

li {
  list-style: none; }

@font-face {
  font-family: 'iconfont';
  src: url("../../source/fonts/iconfont.woff") format("woff"), url("../../source/fonts/iconfont.ttf") format("truetype"); }
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

#swiper_guide {
  width: 100%;
  height: 100%; }
  #swiper_guide .swiper-slide {
    width: 100%;
    height: 100%;
    position: relative; }
    #swiper_guide .swiper-slide img {
      width: 100%; }
    #swiper_guide .swiper-slide .gotoHome {
      position: absolute;
      width: 3.4rem;
      height: 0.8rem;
      background: #FC3636;
      opacity: 0.8;
      left: 1.5rem;
      bottom: 1.4rem;
      border-radius: 5px;
      font-size: 0.5rem;
      color: #fff;
      text-align: center;
      line-height: 0.8rem;
      border: 0px;
      text-decoration: none; }

.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column; }

.header {
  width: 100%;
  height: 0.74rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  position: relative;
  overflow: hidden; }
  .header::after {
    pointer-events: none;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    content: "\0020";
    border-color: #ccc;
    border-style: solid;
    border-width: 0 0 2px 0;
    box-sizing: border-box;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
      .header::after {
        width: 200%;
        height: 200%;
        -webkit-transform: scale(0.5);
        transform: scale(0.5); } }
    @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
      .header::after {
        width: 300%;
        height: 300%;
        -webkit-transform: scale(0.333);
        transform: scale(0.333); } }
  .header .user {
    width: 0.7rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end; }
    .header .user a {
      font-size: 0.5rem;
      color: #93c757; }
  .header .title {
    line-height: 0.74rem;
    font-size: 0.34rem;
    font-weight: 900;
    color: #333; }
  .header .find {
    width: 0.6rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center; }
    .header .find a {
      font-size: 0.4rem;
      color: #93c757; }

.content {
  width: 100% !important;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  width: .1px;
  overflow: hidden; }
  .content .swiper-slide {
    overflow: hidden; }
    .content .swiper-slide .con_home .home_ban {
      width: 100%;
      height: 2rem;
      background: #c7c6c6;
      overflow: hidden; }
      .content .swiper-slide .con_home .home_ban img {
        width: 100%; }
    .content .swiper-slide .con_home .home_actions {
      width: 100%;
      height: 2rem;
      background: #fafafa;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-around;
      justify-content: space-around; }
      .content .swiper-slide .con_home .home_actions div {
        width: 1.2rem;
        height: 2rem;
        text-align: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center; }
        .content .swiper-slide .con_home .home_actions div i {
          width: 1rem;
          height: 1rem;
          color: #fff;
          display: block;
          border-radius: 50%;
          font-size: 0.5rem;
          text-align: center;
          line-height: 1rem;
          margin: 0px auto;
          margin-top: 0.2rem; }
        .content .swiper-slide .con_home .home_actions div p {
          font-size: 0.26rem;
          text-align: center; }
      .content .swiper-slide .con_home .home_actions .server_design i {
        background: #3fd3c8; }
      .content .swiper-slide .con_home .home_actions .server_day i {
        background: #3db1ea; }
      .content .swiper-slide .con_home .home_actions .server_cash i {
        background: #ff6263; }
      .content .swiper-slide .con_home .home_actions .server_gua i {
        font-family: "微软雅黑";
        background: #bc45df; }
    .content .swiper-slide .con_home .home_cells {
      background: #fff; }
      .content .swiper-slide .con_home .home_cells .home_guess {
        width: 100%;
        overflow: hidden; }
        .content .swiper-slide .con_home .home_cells .home_guess p {
          margin: 0px;
          font-size: 0.24rem;
          text-align: center;
          height: 0.6rem;
          line-height: 0.7rem; }
        .content .swiper-slide .con_home .home_cells .home_guess .home_guess_con {
          padding-top: 0.16rem;
          position: relative;
          overflow: hidden; }
          .content .swiper-slide .con_home .home_cells .home_guess .home_guess_con::after {
            pointer-events: none;
            position: absolute;
            z-index: 999;
            top: 0;
            left: 0;
            content: "\0020";
            border-color: #ccc;
            border-style: solid;
            border-width: 1px 0 0 0;
            box-sizing: border-box;
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0; }
            @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
              .content .swiper-slide .con_home .home_cells .home_guess .home_guess_con::after {
                width: 200%;
                height: 200%;
                -webkit-transform: scale(0.5);
                transform: scale(0.5); } }
            @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
              .content .swiper-slide .con_home .home_cells .home_guess .home_guess_con::after {
                width: 300%;
                height: 300%;
                -webkit-transform: scale(0.333);
                transform: scale(0.333); } }
          .content .swiper-slide .con_home .home_cells .home_guess .home_guess_con img {
            width: 100%; }
    .content .swiper-slide .con_case dl {
      width: 100%; }
      .content .swiper-slide .con_case dl .case_cell {
        margin: 0px;
        width: 100%;
        position: relative; }
        .content .swiper-slide .con_case dl .case_cell a img {
          width: 100%; }
        .content .swiper-slide .con_case dl .case_cell .case_cell_watches {
          position: absolute;
          left: 0.4rem;
          top: 0.5rem;
          line-height: 0.36rem;
          padding: 0px 0.2rem;
          background: #000;
          font-size: 0.3rem;
          opacity: 0.3;
          color: #fff;
          border-radius: 0.24rem;
          background-clip: padding-box !important; }
          .content .swiper-slide .con_case dl .case_cell .case_cell_watches i {
            font-size: 0.3rem; }
      .content .swiper-slide .con_case dl .case_title {
        position: relative;
        font-size: 0.32rem;
        text-align: center;
        padding-top: 0.9rem;
        padding-bottom: 0.4rem; }
        .content .swiper-slide .con_case dl .case_title .case_author {
          width: 1.6rem;
          height: 1.6rem;
          overflow: hidden;
          position: absolute;
          top: -0.8rem;
          left: 2.4rem;
          border: 1px solid #fff;
          border-radius: 0.8rem;
          background-clip: padding-box !important; }
          .content .swiper-slide .con_case dl .case_title .case_author a img {
            width: 1.6rem;
            height: 1.6rem; }
        .content .swiper-slide .con_case dl .case_title .case_title_con {
          font-size: 0.4rem;
          font-weight: 900; }
        .content .swiper-slide .con_case dl .case_title .case_designer {
          color: #999;
          padding: 0.1rem 0px 0.15rem 0px; }
        .content .swiper-slide .con_case dl .case_title .case_info {
          color: #93c757;
          display: -webkit-box;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          justify-content: center; }
    .content .swiper-slide .con_choice {
      width: 100%; }
      .content .swiper-slide .con_choice dl {
        margin: 0.1rem;
        width: 6.2rem;
        position: relative; }
        .content .swiper-slide .con_choice dl dd {
          width: 100%; }
          .content .swiper-slide .con_choice dl dd img {
            width: 100%; }
        .content .swiper-slide .con_choice dl .choice_cell_focus {
          position: absolute;
          left: 0.2rem;
          top: 0.1rem;
          width: 2rem;
          height: 0.36rem;
          color: #fff;
          padding: 0px 0.1rem;
          background: #000;
          opacity: 0.2;
          border-radius: 0.2rem;
          background-clip: padding-box !important;
          display: -webkit-box;
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: space-around;
          justify-content: space-around; }
          .content .swiper-slide .con_choice dl .choice_cell_focus i {
            font-size: 0.3rem; }
          .content .swiper-slide .con_choice dl .choice_cell_focus span {
            margin-top: -0.1rem; }
        .content .swiper-slide .con_choice dl .choice_cell_status {
          width: 0.6rem;
          height: 0.32rem;
          line-height: 0.36rem;
          position: absolute;
          right: 0.3rem;
          top: 0px;
          color: #fff;
          text-align: center; }
        .content .swiper-slide .con_choice dl .choice_in {
          background: green; }
        .content .swiper-slide .con_choice dl .choice_notin {
          background: red; }
        .content .swiper-slide .con_choice dl dt {
          position: absolute;
          left: 0px;
          bottom: 0.1rem;
          display: -webkit-box;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
          justify-content: flex-start; }
          .content .swiper-slide .con_choice dl dt .choice_author {
            width: 0.6rem;
            height: 0.5rem;
            border-radius: 0.3rem;
            overflow: hidden;
            margin: 0px 0.2rem;
            border: 1px solid #fff; }
            .content .swiper-slide .con_choice dl dt .choice_author img {
              width: 0.6rem;
              height: 0.5rem; }
          .content .swiper-slide .con_choice dl dt .choice_info {
            width: 100%;
            color: #fff; }
            .content .swiper-slide .con_choice dl dt .choice_info .choice_info_title {
              font-size: 0.32rem; }
            .content .swiper-slide .con_choice dl dt .choice_info .choice_info_city {
              font-size: 0.24rem; }
    .content .swiper-slide .con_inspir {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      flex: 1;
      width: .1px;
      width: 100%; }
      .content .swiper-slide .con_inspir .inspir_con {
        overflow: hidden;
        background: #fff;
        padding-top: 0.05rem; }
        .content .swiper-slide .con_inspir .inspir_con .inspir_left, .content .swiper-slide .con_inspir .inspir_con .inspir_right {
          width: 3.05rem; }
          .content .swiper-slide .con_inspir .inspir_con .inspir_left a, .content .swiper-slide .con_inspir .inspir_con .inspir_right a {
            display: block;
            width: 100%;
            margin-top: 0.08rem;
            overflow: hidden; }
            .content .swiper-slide .con_inspir .inspir_con .inspir_left a img, .content .swiper-slide .con_inspir .inspir_con .inspir_right a img {
              width: 100%; }
        .content .swiper-slide .con_inspir .inspir_con .inspir_left {
          float: left;
          margin-left: 0.1rem; }
        .content .swiper-slide .con_inspir .inspir_con .inspir_right {
          float: right;
          margin-right: 0.1rem; }

.nav {
  width: 100%;
  height: 0.78rem;
  padding-top: 0.08rem;
  position: relative;
  overflow: hidden; }
  .nav::after {
    pointer-events: none;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    content: "\0020";
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 0 0 0;
    box-sizing: border-box;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
      .nav::after {
        width: 200%;
        height: 200%;
        -webkit-transform: scale(0.5);
        transform: scale(0.5); } }
    @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
      .nav::after {
        width: 300%;
        height: 300%;
        -webkit-transform: scale(0.333);
        transform: scale(0.333); } }
  .nav ul {
    width: 100%;
    height: inherit;
    margin: 0px;
    padding: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around; }
    .nav ul li {
      color: #767676;
      padding: 0px 0.2rem;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center; }
      .nav ul li i {
        font-size: 0.4rem; }
      .nav ul li b {
        font-size: 0.24rem; }
      .nav ul li.nav_act {
        color: #93c757; }

#swiper_home {
  overflow: hidden; }

#user {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column; }
  #user .user_title {
    width: 100%;
    height: 0.74rem;
    position: relative;
    overflow: hidden;
    background: #fafafa;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex; }
    #user .user_title::after {
      pointer-events: none;
      position: absolute;
      z-index: 999;
      top: 0;
      left: 0;
      content: "\0020";
      border-color: #ccc;
      border-style: solid;
      border-width: 0 0 1px 0;
      box-sizing: border-box;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
        #user .user_title::after {
          width: 200%;
          height: 200%;
          -webkit-transform: scale(0.5);
          transform: scale(0.5); } }
      @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
        #user .user_title::after {
          width: 300%;
          height: 300%;
          -webkit-transform: scale(0.333);
          transform: scale(0.333); } }
    #user .user_title .user_title_left {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      flex: 1;
      width: .1px;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-around;
      justify-content: space-around; }
      #user .user_title .user_title_left .user_title_back {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center; }
        #user .user_title .user_title_left .user_title_back a {
          width: 0.6rem;
          height: 100%;
          font-size: 0.3rem;
          color: #93c757; }
      #user .user_title .user_title_left .user_title_city {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        margin-left: -0.2rem; }
        #user .user_title .user_title_left .user_title_city a {
          width: 0.9rem;
          font-size: 0.26rem;
          background: url(../../source/images/xiala.gif) no-repeat right top;
          background-size: 0.18rem;
          background-position: right center; }
    #user .user_title .user_title_center {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      flex: 1;
      width: .1px;
      font-size: 0.3rem;
      line-height: 0.74rem;
      text-align: center;
      font-weight: 900; }
    #user .user_title .user_title_right {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      flex: 1;
      width: .1px;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      justify-content: flex-end; }
      #user .user_title .user_title_right a {
        font-size: 0.4rem;
        color: #93c757; }
      #user .user_title .user_title_right .user_title_right_add {
        width: 0.2rem; }
  #user .user_con {
    width: inherit !important;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    width: .1px;
    background: #fff; }

#search {
  width: 100%;
  height: 100%;
  background: #fff; }
  #search .sear_int {
    width: 100%;
    height: 0.82rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    position: relative;
    overflow: hidden; }
    #search .sear_int::after {
      pointer-events: none;
      position: absolute;
      z-index: 999;
      top: 0;
      left: 0;
      content: "\0020";
      border-color: #ccc;
      border-style: solid;
      border-width: 0 0 1px 0;
      box-sizing: border-box;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
        #search .sear_int::after {
          width: 200%;
          height: 200%;
          -webkit-transform: scale(0.5);
          transform: scale(0.5); } }
      @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
        #search .sear_int::after {
          width: 300%;
          height: 300%;
          -webkit-transform: scale(0.333);
          transform: scale(0.333); } }
    #search .sear_int .sear_back {
      width: 1rem;
      height: 0.82rem;
      line-height: 0.82rem;
      text-align: center;
      color: #93c757;
      font-size: 0.36rem;
      font-weight: 100; }
    #search .sear_int .sear_get {
      width: 5.4rem;
      height: 0.82rem;
      position: relative; }
      #search .sear_int .sear_get input {
        position: absolute;
        width: 5rem;
        left: 0px;
        top: 0.15rem;
        outline: none;
        height: 0.48rem;
        border: 0 none;
        font-size: 0.36rem;
        text-indent: 0.42rem;
        border-bottom: 1px solid #93c757; }
      #search .sear_int .sear_get .sear_magn {
        color: #93c757;
        position: absolute;
        left: 3px;
        bottom: 0.2rem;
        font-size: 0.36rem; }
  #search .sear_con {
    width: 100%; }
    #search .sear_con .sear_hot {
      width: 100%;
      padding: 0.5rem 0.2rem; }
      #search .sear_con .sear_hot h3 {
        font-size: 0.4rem;
        margin: 0px; }
      #search .sear_con .sear_hot a {
        padding: 0.1rem 0.2rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem; }
