@charset "utf-8";
@import "./cssPrefix.scss";

html, body{
	width : 100%;
	height : 100%;
}

a{
	color: #333;
	text-decoration : none;
	font-size : 0.2px;
}

li{
	list-style : none;
}

// 字体文件
@font-face {font-family: 'iconfont';
    src: url('../../source/fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../../source/fonts/iconfont.ttf') format('truetype') /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}


#swiper_guide{
	width : 100%;
	height : 100%;
	.swiper-slide{
		width : 100%;
		height : 100%;
		position: relative;
		img{
			width : 100%;
		}
		.gotoHome{
			position: absolute;
			width: 3.4rem;
	        height: 0.8rem;
	        background: #FC3636;
	        opacity: 0.8;
	        left: 1.5rem;
	        bottom: 1.4rem;
	        border-radius: 5px;
            font-size: 0.5rem;
            color: #fff;
            text-align: center;
            line-height: 0.8rem;
            border: 0px;
            text-decoration: none;
		}
	}
}

.container{
	width : 100%;
	height : 100%;
	@include flexbox(flex);
	@include flex-direction(column);
}

.header{ 
	width : 100%;
	height: 0.74rem;
	@include flexbox(flex);
	@include justify-content(space-between);
	@include border($border-width : 0 0 1px 0, $border-color : #ccc);
	.user{
		width : 0.7rem;
		@include flexbox(flex);
		@include align-items(center);
		@include justify-content(flex-end);
		a{
			font-size : 0.5rem;
			color : #93c757; 
		}
	}
	.title{
		line-height : 0.74rem;
		font-size : 0.34rem;
		font-weight : 900;
		color : #333;
	}
	.find{ 
		width : 0.6rem;
		@include flexbox(flex);
		@include align-items(center);
		a{
			font-size : 0.4rem;
			color : #93c757;
		}
	}
}

.content{
	width : 100% !important;
	@include flex(1);
}

.nav{
	width : 100%;
	height : 0.78rem;
	padding-top: 0.08rem;
	@include border($border-width : 1px 0 0 0, $border-color : #ccc);	
	ul {
		width : 100%;
		height : inherit;
		margin : 0px;
		padding: 0px;
		@include flexbox(flex);
		@include justify-content(space-around);
		li{
			color : #767676;
			@include flexbox(flex);
			@include flex-direction(column);
			@include align-items(center);
			i{
				font-size : 0.4rem;
			}
			b{
				font-size : 0.24rem;
			}
			&.nav_act{
				color : #93c757;
			}
		}
	}
}

#swiper_home{
	@include overflow(hidden);
}